@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Laila&display=swap");
.serviciosTortuguitas h2, .serviciosTortuguitas .serviciosTortuguitasContenedor div h2, div h2, .baño div h2 {
  color: #a260d8;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  background-color: aliceblue;
  margin: 15px; }

.serviciosTortuguitas .serviciosTortuguitasContenedor h3, div h3, .baño div h3 {
  margin-top: 15px;
  color: #a260d8;
  text-align: left;
  font-size: 20px;
  font-weight: bolder;
  margin: 15px;
  text-align: center; }

.caracteristicas .caracteristicasFlex div img, .caracteristicas div img {
  width: 228px;
  height: 250px; }

.caracteristicas .caracteristicasFlex div h3, .caracteristicas div h3 {
  color: #7c46ac;
  text-align: center;
  background-color: #baf5e1;
  font-size: 20px; }

.caracteristicas .caracteristicasFlex p, .caracteristicas div p {
  background-color: rgba(240, 237, 243, 0.5);
  color: #7c46ac;
  text-align: center;
  font-weight: bolder;
  padding: 4px;
  height: 27%; }

.nosotros .nosotrosContenedor .nosotrosFlex div img {
  width: 100%;
  height: 250px;
  padding: 15px; }

.nosotros .nosotrosContenedor .nosotrosFlex div h2 {
  color: #7c46ac;
  text-align: center;
  font-weight: bolder;
  font-size: 20px; }

.nosotros .nosotrosContenedor .nosotrosFlex div p {
  color: #7c46ac;
  text-align: center;
  font-weight: bolder;
  padding: 4px;
  height: 27%; }

footer .imagenes img, footer .imagenes .redesSociales a img {
  width: 50px;
  height: 50px;
  margin: 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Laila', sans-serif; }

header {
  background-color: #bf82f5;
  position: sticky;
  top: 0; }
  header nav .container-fluid a img {
    width: 80px;
    height: 80px;
    margin: 5px;
    box-shadow: 14px 24px 52px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 14px 24px 52px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 24px 52px -8px rgba(0, 0, 0, 0.75); }
  header nav div li a {
    margin: 15px; }
  header nav div li li a {
    margin: 15px; }
  header nav div li li li a {
    margin: 15px; }
  header nav div li li li a {
    margin: 15px; }
  header nav div li li li a {
    margin: 15px; }

.hero {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.432), rgba(220, 201, 236, 0.425)), url(../img/yeiporaperros.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero h1 {
    color: #baf5e1;
    font-size: 60px;
    padding: 25px 25px;
    margin: bottom 15px; }
  .hero h2 {
    background-color: rgba(161, 83, 238, 0.5);
    margin: 15px 15px 15px 15px;
    text-align: center;
    color: #baf5e1;
    font-size: 30px;
    font-weight: bolder; }
  .hero a {
    color: #baf5e1;
    text-decoration: none;
    background-color: #b670f3;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 25px;
    border: solid #baf5e1;
    transition: 1s; }
    .hero a:hover {
      color: #b670f3;
      background-color: #baf5e1; }

.presentacion {
  display: flex;
  flex-direction: 0;
  justify-content: 0;
  align-items: center;
  background-color: #baf5e1; }
  .presentacion img {
    height: 85%;
    width: 40%;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: solid #b670f3; }
  .presentacion div p::first-letter {
    padding: 30px; }
    .presentacion div p::first-letter h2 {
      color: #7c46ac;
      text-align: center;
      font-size: 30px;
      font-weight: bolder;
      margin-top: 20px;
      font-style: italic; }
    .presentacion div p::first-letter p {
      color: #983bee;
      font-size: 30px;
      font-style: italic; }

.caracteristicas {
  background-image: url(../img/fondotttt.jpg);
  background-repeat: repeat;
  padding-bottom: 25px; }
  .caracteristicas h2 {
    color: #7c46ac;
    text-align: center;
    padding: 25px; }
  .caracteristicas .caracteristicasFlex {
    display: flex;
    flex-direction: 0;
    justify-content: space-around;
    align-items: 0; }
    .caracteristicas .caracteristicasFlex div {
      width: 234px;
      height: 400px;
      border: solid #b670f3; }
  .caracteristicas div {
    width: 234px;
    height: 400px;
    border: solid #b670f3; }
  .caracteristicas div {
    width: 234px;
    height: 400px;
    border: solid #b670f3; }

.videoInformativo {
  display: flex;
  flex-direction: 0;
  justify-content: 0;
  align-items: center;
  padding: 25px;
  background-color: #baf5e1; }
  .videoInformativo p {
    color: #7c46ac;
    text-align: left;
    font-weight: bolder;
    font-size: 25px;
    padding: 10px; }
  .videoInformativo iframe {
    margin-top: 25px;
    padding: 25px;
    display: block;
    width: 100%;
    height: 100%; }

.serviciosTortuguitas {
  background-image: url(../img/patasdeperros.jpg);
  background-repeat: repeat; }
  .serviciosTortuguitas h1 {
    padding-top: 15px;
    margin-bottom: 25px;
    background-color: aliceblue;
    color: #a260d8;
    font-size: 30px;
    font-weight: bolder;
    text-align: center; }
  .serviciosTortuguitas .serviciosTortuguitasContenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation-name: servicios;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction: initial; }

@keyframes servicios {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }
    .serviciosTortuguitas .serviciosTortuguitasContenedor .hospedaje {
      display: flex;
      flex-direction: 0;
      justify-content: space-between;
      align-items: center;
      margin: 25px 25px 25px 25px;
      padding: 10px 10px 10px 10px;
      border: solid #a260d8;
      background: #22c1c3;
      background: linear-gradient(0deg, #22c1c3 21%, #21f2b4 61%);
      width: 95%; }
    .serviciosTortuguitas .serviciosTortuguitasContenedor img {
      height: 250px; }

.club {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 25px 25px 25px 25px;
  padding: 10px 10px 10px 10px;
  border: solid #a260d8;
  background: #22c1c3;
  background: linear-gradient(0deg, #22c1c3 21%, #21f2b4 61%);
  width: 95%; }

img {
  height: 250px; }

.baño {
  display: flex;
  flex-direction: 0;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin: 25px 25px 25px 25px;
  padding: 10px 10px 10px 10px;
  border: solid #a260d8;
  background: linear-gradient(0deg, #22c1c3 21%, #21f2b4 61%);
  width: 95%; }
  .baño img {
    height: 250px; }
  .baño div p {
    margin-top: 25px;
    color: #a260d8;
    font-size: 20px;
    font-weight: bolder;
    text-align: center; }

.traslados {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 25px 25px 25px 25px;
  padding: 10px 10px 10px 10px;
  border: solid #a260d8;
  background: linear-gradient(0deg, #22c1c3 21%, #21f2b4 61%);
  width: 95%; }

img {
  height: 250px; }

div p {
  margin-top: 25px;
  color: #a260d8;
  font-size: 20px;
  font-weight: bolder;
  text-align: center; }

.serviciosCaba {
  background-image: url(../img/fondotttt.jpg);
  background-repeat: repeat;
  padding: 10px; }
  .serviciosCaba h2 {
    color: #a260d8;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    background-color: aliceblue;
    margin-left: 15px;
    margin-right: 15px; }
  .serviciosCaba .sedeCaba {
    display: flex;
    flex-direction: 0;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-top: 15px;
    border: solid #a260d8;
    background: linear-gradient(0deg, #22c1c3 13%, #d893e9 91%);
    animation-name: servicios;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction: initial; }

@keyframes servicios {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }
  .serviciosCaba img {
    height: 250px;
    width: 250px;
    padding: 10px 10px 10px 10px; }
  .serviciosCaba div h2 {
    color: #a260d8;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    background-color: aliceblue;
    margin-left: 15px;
    margin-right: 15px; }
  .serviciosCaba div p {
    margin-top: 25px;
    color: aliceblue;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding-right: 15px; }
  .serviciosCaba div h3 {
    color: aliceblue;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin-top: 15px; }

.galeria {
  height: 100%;
  background-color: #cca7ed;
  padding-bottom: 10px; }
  .galeria h1 {
    padding-top: 15px;
    margin-bottom: 25px;
    background-color: aliceblue;
    color: #a260d8;
    font-size: 30px;
    font-weight: bolder;
    text-align: center; }
  .galeria .gridGaleria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px 400px 400px 400px 400px;
    grid-auto-rows: 300px;
    gap: 20px;
    padding-right: 5px;
    padding-left: 5px;
    height: 100%;
    width: 100%;
    border: 2px solid #a260d8;
    box-shadow: 14px 24px 52px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 14px 24px 52px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 24px 52px -8px rgba(0, 0, 0, 0.75);
    object-fit: cover;
    transition: 2s; }
    .galeria .gridGaleria:hover {
      transform: scale(1.1); }
    .galeria .gridGaleria .imagenPrimera {
      grid-row: span 2;
      grid-column: span 2; }
    .galeria .gridGaleria .imagenSegunda {
      grid-column: span 2; }
    .galeria .gridGaleria .imagenSenta {
      grid-row: span 2;
      grid-column: span 2; }
    .galeria .gridGaleria .imagenDieciocho {
      grid-row: span 2; }

.nosotros h1 {
  padding-top: 15px;
  margin-bottom: 25px;
  background-color: aliceblue;
  color: #a260d8;
  font-size: 30px;
  font-weight: bolder;
  text-align: center; }

.nosotros .nosotrosContenedor {
  background-color: #adf3f3;
  padding: 5px;
  justify-content: space-evenly; }
  .nosotros .nosotrosContenedor .nosotrosFlex {
    display: flex; }

.formulario {
  display: flex;
  flex-direction: 0;
  justify-content: center;
  align-items: 0;
  justify-content: center;
  color: #adf3f3;
  background-color: #b976f8;
  padding-top: 25px;
  padding-bottom: 25px; }

.requisitos div div img {
  width: 80%;
  height: 50vh; }

.requisitos div div div .primero {
  font-size: 30px;
  font-weight: bolder;
  color: #a260d8;
  text-align: left; }

.requisitos div img {
  width: 80%;
  height: 50vh; }

.requisitos div div .segundo {
  font-size: 30px;
  font-weight: bolder;
  color: #a260d8;
  text-align: right; }

.requisitos div div .segundop {
  font-size: 20px;
  font-weight: bolder;
  color: #a260d8;
  text-align: right; }

.requisitos div img {
  width: 80%;
  height: 50vh; }

.requisitos div div .tercera {
  font-size: 30px;
  font-weight: bolder;
  color: aqua;
  text-align: left; }

.requisitos div div .tercerap {
  font-size: 20px;
  font-weight: bolder;
  color: aqua;
  text-align: left; }

.requisitos div img {
  width: 80%;
  height: 50vh; }

.requisitos div div .cuarta {
  font-size: 30px;
  font-weight: bolder;
  color: #a260d8;
  text-align: right; }

.parraforequisitos h1 {
  font-size: 25px;
  font-weight: bolder;
  color: #a260d8;
  padding: 25px; }

.parraforequisitos p {
  background-color: #baf5e1;
  font-size: 20px;
  color: #a260d8;
  margin: 25px;
  padding: 25px; }

footer {
  background-image: url(../img/patadeperro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%; }
  footer .imagenes {
    display: flex;
    flex-direction: 0;
    justify-content: space-between;
    align-items: 0;
    padding: 20px; }
    footer .imagenes .redesSociales h2 {
      color: #baf5e1;
      margin-right: 25px; }
  footer .contacto {
    display: flex;
    flex-direction: 0;
    justify-content: space-between;
    align-items: 0; }
    footer .contacto .direcciones h3 {
      background-color: rgba(196, 245, 238, 0.6);
      color: #7c46ac;
      font-size: 13px;
      font-weight: bolder;
      margin-left: 25px; }
    footer .contacto .direcciones h3 {
      background-color: rgba(196, 245, 238, 0.6);
      color: #7c46ac;
      font-size: 13px;
      font-weight: bolder;
      margin-left: 25px; }
    footer .contacto .direcciones h3 {
      background-color: rgba(196, 245, 238, 0.6);
      color: #7c46ac;
      font-size: 13px;
      font-weight: bolder;
      margin-left: 25px; }
  footer iframe {
    width: 20%;
    height: 100%;
    margin-right: 25px;
    margin-top: 10px;
    padding-bottom: 10px; }

@media screen and (max-width: 830px) {
  .serviciosTortuguitasContenedor .hospedaje {
    flex-direction: column; }
  .serviciosTortuguitasContenedor .club {
    flex-direction: column; }
  .serviciosTortuguitasContenedor .baño {
    flex-direction: column; }
  .serviciosTortuguitasContenedor .traslados {
    flex-direction: column; }
  .sedeCaba {
    flex-direction: column; }
  .sedeCaba h2 {
    margin-top: 5px; } }

@media screen and (max-width: 830px) {
  .hero h1 {
    font-size: 45px; }
  .hero h2 {
    font-size: 15px; }
  footer .imagenes {
    flex-direction: column;
    align-items: center; }
  .contacto {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 750px) {
  .hero {
    background-position: top; }
  .presentacion {
    flex-direction: column; }
  .caracteristicasFlex {
    flex-direction: column;
    align-items: center;
    padding: 5px; }
  .caracteristicas .caracteristicasFlex div {
    margin: 15px; }
  .nosotrosFlex {
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px; } }

@media screen and (max-width: 630px) {
  header {
    flex-direction: column;
    align-items: center; }
  footer .contacto iframe {
    width: 50%; } }

@media screen and (max-width: 600px) {
  .gridGaleria {
    grid-template-columns: 1fr; }
  .gridGaleria img {
    grid-row: span 1;
    grid-column: span 1; } }

@media screen and (max-width: 550px) {
  .videoInformativo {
    flex-direction: column; } }

@media screen and (max-width: 530px) {
  header nav ul {
    flex-direction: column;
    text-align: center; }
  .galeria h1 {
    font-size: 20px; }
  .contacto .direcciones h3 {
    font-size: 10px;
    font-weight: bolder;
    margin-left: 25px;
    margin-right: 25px; }
  .serviciosTortuguitas h1 {
    font-size: 20px; }
  .formulario {
    padding-left: 25px; } }

@media screen and (max-width: 420px) {
  .hero a {
    padding-bottom: 5px; } }
