header{background-color: rgb(191, 130, 245);
    position: sticky;
    top: 0;
    nav{
        .container-fluid{

        
        a{ img{width: 100px;
            height:100px;
            
            }
        
        }
    div{
        
        li{
            a{margin: 15px;

            }
        li{
            a{margin: 15px;

            }

        li{
            a{margin: 15px;

            }
        }
        li{
            a{margin: 15px;

            }

        }
        li{
            a{margin: 15px;

            }
        }
        }
    }
    }
}
}
}