/*-----HERO-----*/
.hero {
        text-align: center;
        background: linear-gradient(rgba(0, 0, 0, 0.432), rgba(220, 201, 236, 0.425)),url(../img/yeiporaperros.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 80vh;
        width:100%;
        @include flex (flex,column,center,center);
        
        .hero h1{
                color:nth($colores,1);
                font-size: nth($font-size,3);                                
                padding: 25px 25px;
                margin: bottom 15px;
                }
        .hero h2{
                background-color:rgba(161, 83, 238, 0.5);
                margin: 15px 15px 15px 15px;
                text-align: center;
                color:rgb(186, 245, 225);
                font-size: 30px;
                font-weight:bolder
                }
        .hero a{ 
                color:rgb(186, 245, 225);
                text-decoration: none;
                background-color: rgb(182, 112, 243) ;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom:25px;
                border: solid rgb(186, 245, 225);
                transition: 1s;
                &:hover{
                        color: rgb(182, 112, 243);
                        background-color:rgb(186, 245, 225) ;
                        }
                }
}
/*------PRESENTACION--------*/
.presentacion{  @include flex (flex,0,0,center);
                img{
                    height: 85%;
                    width: 40%;
                    margin-top: 20px;
                    margin-left: 20px; 
                    margin-bottom: 20px;
                    border: solid rgb(186,120,243);

                    }
                div{
                    padding: 30px;
                    h2{color:rgb(124, 70, 172);
                    text-align: center;
                    font-size: 30px;
                    font-weight:bolder;
                    margin-top: 20px;
                    font-style: italic;
                    }
                    p{
                        color:nth($colores,2);
                        font-size: 20px;
                        font-weight:bolder;
                        padding: 25px;
                    }
                }  

}

/*------CARACTERISTICAS-----*/
.caracteristicas{
                background-image: url(../img/fondotttt.jpg); 
                background-repeat: repeat;
                padding-bottom: 25px;
                @include flex(flex,0,space-around, 0);
                h2{
                    color:rgb(124, 70, 172);
                    text-align: center;
                    padding: 25px;
                }
                div{
                    @extend %caracteristicasdiv;
                    img{
                        @extend %caracteristicasimg;
                    }
                    h3{
                        @extend %caracteristicash3;
                    }

                    p{
                        @extend %caracteristicasp;
                    }
                }
                div{@extend %caracteristicasdiv;
                   
                    img{
                        @extend %caracteristicasimg;

                    }
                    h3{
                        @extend %caracteristicash3;
                   
                    }
                    p{
                        @extend %caracteristicasp;
                        
                    }
                }
                div{
                    @extend %caracteristicasdiv;
                    img{
                        @extend %caracteristicasimg;
                    }
                    h3{
                        @extend %caracteristicash3;
                    }
                    p{ 
                        @extend %caracteristicasp;
                    }
                }
}
.videoinformativo{
                @include flex (flex,0,0,center);
                padding: 25px;
                background-color: rgb(186, 245, 225);
                    p{
                    color:rgb(124, 70, 172);
                    text-align:left;
                    font-weight:bolder;
                    font-size: 25px;
                    padding: 10px;
                } 
                iframe{
                    margin-top: 25px;
                    padding: 25px;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
.galeria{
        height: 100%;
        background-color:rgb(204, 167, 237);
        padding-bottom: 10px;

        h1{
            padding-top: 15px;
            margin-bottom: 25px;
            background-color:aliceblue;
            color:rgb(182, 112, 243);
            font-size: 30px;
            font-weight: bolder;
            text-align: center;
        }
        div .gridGaleria{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows:400px 400px 400px 400px 400px;
            grid-auto-rows: 300px;
            gap: 20px;
            padding-right: 5px;
            padding-left: 5px;
            height: 100%;
            width: 100%;
            border: 2px solid rgb(162, 96, 216);
            box-shadow: 14px 24px 52px -8px rgba(0,0,0,0.75);
            -webkit-box-shadow: 14px 24px 52px -8px rgba(0,0,0,0.75);
            -moz-box-shadow: 14px 24px 52px -8px rgba(0,0,0,0.75);
            object-fit: cover;
            transition:2s;
            &:hover{
                transform: scale(1.1);
            }
                            img .imagenPrimera {
                                grid-row: span 2;
                                grid-column: span 2;
                                                }            
                            img .imagenSegunda{
                                                grid-column: span 2;
                                                }
                            img .imagenSexta{
                                                grid-row: span 2;
                                                grid-column: span 2;
                                            }
                            img .imagenDieciocho{
                                                grid-row: span 2;
                                                }
            }
            
                        
        }
/*--------------SERVICIOS-----------*/
.serviciosTortuguitas{ 
                    background-image:url(../img/patasdeperros.jpg);
                    background-repeat: repeat;
                    }
                    h1 {
                        padding-top: 15px;
                        margin-bottom: 25px;
                        background-color:aliceblue;
                        color:rgb(162, 96, 216);
                        font-size: 30px;
                        font-weight: bolder;
                        text-align: center;
                        }
                    h2 {
                        @extend %serviciosh2;
                        }
                    
                    .serviciosTortuguitasContenedor{                                                  
                                                    @include flex (flex,column,space-between,center);
                                                    animation-name: servicios;
                                                    animation-duration: 3s;
                                                    animation-timing-function: ease-in-out;
                                                    animation-direction: initial;
                                                    
                                                    .hospedaje{
                                                                img{height: 250px;
                                                                }
                                                            }
                                    div{
                                        h2{
                                            @extend %serviciosh2;
                                        }
                                        h3{
                                            @extend %serviciosh3;
                                                                                    

                                        }
                                        h3{
                                            @extend %serviciosh3;
                                            

                                        }
                                        h3{
                                            @extend %serviciosh3;
                                        }
                                    }
                                
                                    .club{@include flex (display,row-reverse,space-between,center);
                                        margin: 25px 25px 25px 25px; 
                                        padding: 10px 10px 10px 10px;
                                        border: solid rgb(162, 96, 216);
                                        background: rgb(34,193,195);
                                        background: linear-gradient(0deg, rgba(34,193,195,1) 21%, rgba(33,242,180,1) 61%);
                                        width:95%;
                                            img{height: 250px;
                                                }
                                        div{
                                            h2
                                            {
                                                @extend %serviciosh2;  
                                            }

                                                                                        }
                                            h3{
                                                @extend %serviciosh3;
                                                }
                                            h3{
                                                @extend %serviciosh3;
                                                }
                                            h3{
                                                @extend %serviciosh3;
                                                }
                                        }                        
                                    }
                                    .baño {@include flex (flex,0,space-between,center);
                                        margin: 25px 25px 25px 25px; 
                                        padding: 10px 10px 10px 10px;
                                        border: solid rgb(162, 96, 216);
                                        background: linear-gradient(0deg, rgba(34,193,195,1) 21%, rgba(33,242,180,1) 61%);
                                        width:95%;
                                        img {height: 250px;
                                        }
                                        div{
                                            h2
                                            {
                                            @extend %serviciosh2;
                                            } 
                                                
                                            p{
                                                margin-top: 25px;
                                                color:rgb(162, 96, 216);
                                                font-size: 20px;
                                                font-weight: bolder ;
                                                text-align: center;

                                            }
                                            h3{
                                                @extend %serviciosh3;

                                            }
                                        }
                                    }
                                    .traslados{ @include flex (flex,row-reverse,space-between,center);
                                                margin: 25px 25px 25px 25px; 
                                                padding: 10px 10px 10px 10px;
                                                border: solid rgb(162, 96, 216);
                                                background: linear-gradient(0deg, rgba(34,193,195,1) 21%, rgba(33,242,180,1) 61%);
                                                width: 95%;
                                                img{height: 250px;
                                                    }
                                                div{ 
                                                    h2{
                                                    @extend %serviciosh2;
                                                    } 
                                                    p{
                                                        margin-top: 25px;
                                                        color:rgb(162, 96, 216);
                                                        font-size: 20px;
                                                        font-weight: bolder ;
                                                        text-align: center;

                                                    }
                                                    h3{
                                                        @extend %serviciosh3;
                                                    }
                                                }
                                    }

.serviciosCaba{
                background-image: url(../img/fondotttt.jpg);
                background-repeat: repeat;
                padding: 10px;
                h2{
                    color:rgb(162, 96, 216);
                    text-align: center;
                    font-size: 20px;
                    font-weight: bolder;
                    background-color:aliceblue;
                    margin-left: 15px;
                    margin-right: 15px;

                }
                .sedeCaba{
                        @include flex (flex,0,space-between,center);
                        margin-left:15px;
                        margin-top: 15px;
                        border: solid rgb(162, 96, 216);
                        background: linear-gradient(0deg, rgba(34,193,195,1) 13%, rgba(216,147,233,1) 91%);
                        animation-name: servicios;
                        animation-duration: 3s;
                        animation-timing-function: ease-in-out;
                        animation-direction: initial;
                    img{
                        height: 250px;
                        width: 250px;
                        padding: 10px 10px 10px 10px;
                    }
                    div{
                        
                        h2{
                            color:rgb(162, 96, 216);
                            text-align: center;
                            font-size: 20px;
                            font-weight: bolder;
                            background-color:aliceblue;
                            margin-left: 15px;
                            margin-right: 15px;

                        }
                        p{  margin-top: 25px;
                            color: aliceblue;
                            font-size: 20px;
                            font-weight: bolder ;
                            text-align: center;
                            padding-right: 15px;

                        }
                        h3{ 
                            color: aliceblue;
                            font-size: 20px;
                            font-weight:bolder;
                            text-align: center;
                            margin-top: 15px;

                        }
                    }
                }
}
/*------NOSOTROS--------*/
    .nosotros{
        background-color:rgb(173, 243, 243);
            h1{
                padding-top: 15px;
                margin-bottom: 25px;
                background-color:aliceblue;
                color:rgb(162, 96, 216);
                font-size: 30px;
                font-weight: bolder;
                text-align: center;

            }
            .nosotrosContenedor{
                                padding: 5px;
                                .nosotrosFlex{ @include flex(flex,0,space-evenly,0);
                                            div{
                                                img{
                                                    @extend %nosotrosimg;
                                                    }

                                                }
                                                h2{
                                                    @extend %nosotrosh2;
                                                }                                            }
                                                p{
                                                    @extend %nosotrosp;

                                                }
                                            }
                                            div{
                                                img{@extend %nosotrosimg;
                                                    }
                                                h2{
                                                    @extend %nosotrosh2;                                                }
                                                p{
                                                    @extend %nosotrosp;
                                                }
                                            }
                                            div {
                                                img{
                                                    @extend %nosotrosimg;
                                                    }
                                                h2{
                                                    @extend %nosotrosh2;
                                                }
                                                p{
                                                    @extend %nosotrosp;
                                                }
                                            }
                                            div{
                                                img{@extend %nosotrosimg;
                                                    }
                                                h2{
                                                    @extend %nosotrosh2;
                                                }
                                                p{
                                                    @extend %nosotrosp;
                                                }
                                            }
                                }
      
.formulario{
    @include flex (flex,0,center,0);
    color: rgb(173, 243, 243);
    background-color: rgb(185, 118, 248);
    padding-top: 25px;
    padding-bottom: 25px;
}  

/*------------REQUISITOS-------*/
.requisitos{
            .carousel-item{
                            div{
                                img{width: 80%;
                                    height: 50vh;
                                }
                            }  
                                div{
                                    .primero{font-size: 30px;
                                        font-weight: bolder;
                                        color:rgb(162, 96, 216);
                                        text-align:left;
                                    }
                                }

            }
            .carousel-item{
                div{
                    img{ @extend %carouselimg;
                    }
                }  
                    div{
                        .segundo{
                            font-size: 30px;
                            font-weight: bolder;
                            color:rgb(162, 96, 216);
                            text-align:left;
                        }
                        .segundop{
                            @extend %carouselp;
                        }
                    }
            
                }
                .carousel-item{
                    div{
                        img{@extend %carouselimg;
                        }
                    }  
                        div{
                            .tercera{
                             @extend %carouselt;
                            }
                            .tercerap{
                                @extend %carouselp;
                            }
                        }
                
                    }
                    .carousel-item{
                        div{
                            @extend %carouselimg;
                            }
                        }  
                            div{
                                .cuarta{
                                    font-size:nth($font-size,3 );
                                    font-weight: bolder;
                                    color:nth($colores,4 );
                                    text-align:left;
                                }
                                
                            }
                    
                        }
            
.parraforequisitos{ background-color: nth($colores,1);
                    
                    h1{ 
                        font-size: nth ($font-size,2);
                        font-weight:bolder;
                        color:rgb(162, 96, 216);
                        margin:25px;
                        padding:25px;}
                    p{
                        font-size: nth($font-size,1);
                        color:rgb(162, 96, 216);
                        margin:25px;
                        padding:25px;

                    }
}       