@media screen and (max-width:1100px) 
{
.galeria .gridGaleria
    {
    grid-template-columns: repeat(3,1fr);
    }

.galeria .gridGaleria .imagenSegunda
   { 
     grid-column: span 1;
    }

.galeria .gridGaleria .imagenQuinta
{
grid-column: span 2;
}

.galeria .gridGaleria .imagenDieciseis
{
grid-row: span 2;
grid-column: span 2;
}

.galeria .gridGaleria .imagenDiecisiete
{
grid-row: span 2;
}

.galeria .gridGaleria .imagenVeinte
{
grid-row: span 2;
}
}

@media screen and (max-width:900px) 
{
.galeria .gridGaleria
{
    grid-template-columns:repeat(2,1fr);
    grid-auto-rows: 400px;
}

.galeria .gridGaleria .imagenPrimera
{
grid-row: span 1;
grid-column: span 1;
}

.galeria .gridGaleria .imagenQuinta
{
grid-column: span 2;
}

.galeria .gridGaleria .imagenSexta
{
grid-row: span 1;
grid-column: span 2;
} 

.galeria .gridGaleria .imagenSeptima
{
grid-column: span 2;
}

.galeria .gridGaleria .imagenDieciseis
{
grid-row: span 1;
grid-column: span 1;
}

.galeria .gridGaleria .imagenDiecisiete
{
grid-row: span 1; 
}

.galeria .gridGaleria .imagenDieciocho
{
grid-row: span 1;
}

.galeria .gridGaleria .imagenVeinte
{
grid-row: span 1;
}
.galeria .gridGaleria .imagenVeintiuno
{
grid-column: span 2;
}
.nosotros .nosotrosContenedor{
    height: 650px;
    

}
}

@media screen and (max-width:830px) 
{
.serviciosTortuguitasContenedor .hospedaje
{
flex-direction: column;
}
.serviciosTortuguitasContenedor .club
{
flex-direction: column;  
}

.serviciosTortuguitasContenedor .baño
{
flex-direction: column;  
}
.serviciosTortuguitasContenedor .traslados
{
flex-direction: column;  
}

.sedeCaba
{
flex-direction: column;  
}

.sedeCaba h2
{
margin-top: 5px;
}

.hero h1
{
font-size: 45px;
}

.hero h2
{ 
font-size: 15px;
}

footer
.imagenes
{
flex-direction: column;
align-items: center;
}
.contacto
{
flex-direction: column;
align-items: center;
}
}

@media screen and (max-width:750px)
{
.hero
{
background-position:top;  
}
.presentacion
{
flex-direction: column;
}
.caracteristicasFlex
{
flex-direction: column;
align-items: center;
padding: 5px;
}
.caracteristicas .caracteristicasFlex div
{
margin: 15px;
}
.nosotros .nosotrosContenedor{
    height:2600px;
    
}

.nosotros .nosotrosContenedor .nosotrosFlex
{
flex-direction: column;


}
.nosotros .nosotrosContenedor .nosotrosFlex div img {
    height:500px;
    padding: 50px;
}

}
@media screen and (max-width:675px)
{
    .nosotros .nosotrosContenedor{
        height: 2700px;
       
    }
       
}



@media screen and (max-width:630px)
{
header
{
flex-direction: column;
align-items: center;
}

footer 
.contacto iframe
{
width: 50%;
}


}


@media screen and (max-width:600px) 
{
.galeria .gridGaleria
     {
     grid-template-columns:1fr;
}

.galeria .gridGaleria .imagenPrimera
{
grid-row: span 1;

}

.galeria .gridGaleria .imagenQuinta
{
    grid-column: span 1;
}

.galeria .gridGaleria .imagenSexta 
{
    grid-row: span 1;
    grid-column: span 1;
}

.galeria .gridGaleria .imagenSeptima 
{
    grid-row: span 1;
    grid-column: span 1;
}
.galeria .gridGaleria .imagenDieciseis
{
    grid-row:span 1;
    grid-column: span 1;
}

.galeria .gridGaleria .imagenDiecisiete
{

    grid-row: span 1;
}
.galeria .gridGaleria .imagenDieciocho
{
    grid-row: span 1;
}
.galeria .gridGaleria .imagenVeinte
{
    grid-row: span 1;
}

.galeria .gridGaleria .imagenVeintiuno{
    grid-column: span 1;
}
}



@media screen and (max-width:550px)
{
.videoInformativo
{
flex-direction: column;
}

.parrafoRequisitos{
    padding: 25px;
}

}

@media screen and (max-width:530px) 
{
header nav ul
{
flex-direction:column;
text-align: center;
}

.galeria h1
{
font-size: 20px;
} 

.contacto .direcciones h3
{
font-size: 10px;
font-weight: bolder;
margin-left: 25px;
margin-right: 25px ;
}
.serviciosTortuguitas h1
{
font-size: 20px;
}
.formulario
{
padding-left:25px;
}
}
@media screen and (max-width:465) 
{
    .nosotros .nosotrosContenedor{
        height: 1780px;
        padding: 25px;
    }
}

@media screen and (max-width:425px) 
{
    .nosotros .nosotrosContenedor{
        height: 2800px;
        padding: 25px;
    }
}

@media screen and (max-width:395px) 
{
    .nosotros .nosotrosContenedor{
        height: 2900px;
        padding: 25px;
    }
}
